/*for mobile*/
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  letter-spacing: .035em;
  line-height: 1.5;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #181818;
  width: 100%;
  height: 2em;
  margin: 0;
  padding-top: .5em;
  color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
}

/*text logo*/
#logo {
  margin-left: 1em;
  float: left;
  color: #fff;
}

/*login / name*/
#loginOrName {
  margin-right: 1em;
  float: right;
}

a:hover, #logo:hover, #loginOrName:hover {
  color: #ff4da6;
  cursor: pointer;
}

a:active, #logo:active, #loginOrName:active {
  color: #ff4da6;
  opacity: .75;
}

#siteIntro {
  text-align: center;
  width: 100%;
}

#jQueryIntro {
  width: 100%;
}

.content {
  border-bottom: 2px solid white;
  width: 100%;
  height: 550px;
  background-color: #181818;
  padding: 2em 0;
}

.heading {
  font-size: 40px;
  text-align: center;
}

.contentText {
  text-align: justify;
  text-justify: inter-word;
  margin: 2em 30px;
}

.links {
  margin: 3em;
}

/*for overlay*/
#loginOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: none;
  text-align: center;
  background-color: #181818;
}

#exitOverlay {
  display: inline-block;
  position: absolute;
  top: 3vmin;
  right: 4vmin;
  font-size: 1.25em;
}

#exitOverlay:hover {
  cursor: pointer;
}

#usernameContainer, #pwContainer {
  display: block;
  position: relative;
  top: 30%;
  margin: 1em;
}

#userNameText, #pwText {
  font-size: 30px;
}