/*for mobile*/
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  letter-spacing: .035em;
  color: #fff;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #181818;
  width: 100%;
  font-size: 1.5em;
  min-height: 2em;
  padding-top: .5em;
  margin: 0;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid white;
}

/*text logo*/
#logo {
  margin-left: 1em;
  float: left;
  color: #fff;
}

/*login / name*/
#loginOrName {
  margin-right: 1em;
  float: right;
}

a:hover, #logo:hover, #loginOrName:hover {
  color: #ff4da6;
  cursor: pointer;
}

a:active, #logo:active, #loginOrName:active {
  color: #ff4da6;
  opacity: .75;
}

#siteIntro {
  text-align: center;
  width: 100%;
  margin-top: 4em;
}

#jQueryIntro {
  width: 100%;
}

.content {
  border-bottom: 2px solid white;
  width: 100%;
  min-height: 10em;
  background-color: #181818;
  padding: 3em 0;
  text-align: center;
}

.heading {
  font-size: 1.5em;
  text-align: center;
}

.contentText {
  text-align: justify;
  justify-content: inter-word;
  margin: 2em auto;
  padding: 0 1em;
  max-width: 40em;
  line-height: 1.5;
  font-size: 1em;
}

.links {
  margin: 1.5em;
}

/*for overlay*/
#loginOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
  text-align: center;
  background-color: #181818;
}

#overlayMiddle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0;
}

#overlayLogo {
  font-size: 2em;
  position: relative;
  display: block;
}

#usernameContainer, #pwContainer {
  display: block;
  margin: 2em;
}

#buttonContainer {
  width: 70%;
  padding: .5em;
  margin: 0 15%;
}

#exitOverlay {
  /*
  display: inline-block;
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  font-size: 3em;
  */
  width: 4em;
  float: right;
  font-size: 2em;
  border: 2px solid white;
  padding: .5em;
  border-radius: 20px;
}

#loginButton {
  width: 4em;
  float: left;
  font-size: 2em;
  border: 2px solid white;
  padding: .5em;
  border-radius: 20px;
}

#exitOverlay:hover {
  cursor: pointer;
  color: #ff4da6;
}

#loginButton:hover {
  cursor: pointer;
  color: #ff4da6;
  border: 2px solid #ff4da6;
  border-radius: 25px;
}

#loginButton:active {
  opacity: .75;
}

/*blah*/
#exitOverlay:active {
  color: #ff4da6;
  opacity: .75;
}

#userNameText, #pwText {
  font-size: 2em;
}

label {
  font-size: 2em;
}

/*tablets*/