/*for mobile*/
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: .035em;
  color: #fff;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #181818;
  width: 100%;
  font-size: 1.25em;
  min-height: 2em;
  padding-top: .5em;
  margin: 0;
  color: #fff;
  /*fixed was better*/
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid white;
}

/*text logo*/
#logo {
  margin-left: .5em;
  float: left;
  color: #fff;
}

/*login / name*/
#loginOrName {
  margin-right: .5em;
  float: right;
}

a:hover, #logo:hover, #loginOrName:hover {
  color: #ff4da6;
  cursor: pointer;
}

a:active, #logo:active, #loginOrName:active {
  color: #ff4da6;
  opacity: .75;
}

#siteIntro {
  text-align: center;
  width: 100%;
}

#jQueryIntro {
  width: 100%;
}

.content {
  border-bottom: 2px solid white;
  width: 100%;
  min-height: 10em;
  background-color: #181818;
  padding: 3em 0;
  text-align: center;
}

.heading {
  font-size: 1.5em;
  text-align: center;
}

.contentText {
  /*
  text-align: justify;
  justify-content: inter-word;
  */
  text-align: left;
  margin: 2em auto;
  padding: 0 1em;
  max-width: 40em;
  line-height: 1.5;
  font-size: 1em;
}

.links {
  margin: 1.5em;
}

/*for overlay*/
#loginOverlay, #logoutOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
  text-align: center;
  background-color: #181818;
}

#overlayMiddle, #logoutMiddle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding: 0;
}

#overlayLogo {
  font-size: 1.5em;
  position: relative;
  display: block;
  margin-top: .25em;
}

#usernameContainer, #pwContainer {
  display: block;
  margin: 2em 0;
}

#buttonContainer {
  width: 18em;
  padding: .5em;
  margin: .25em auto;
}

#exitOverlay {
  width: 4em;
  float: right;
  font-size: 1.5em;
  border: 2px solid white;
  padding: .5em;
  border-radius: 20px;
}

#logoutButton, #cancelButton {
  width: 4em;
  font-size: 1.5em;
  border: 2px solid white;
  padding: .5em;
  border-radius: 20px;
  margin: 1em auto;
  display: block;
}

#loginButton {
  width: 4em;
  float: left;
  font-size: 1.5em;
  border: 2px solid white;
  padding: .5em;
  border-radius: 20px;
}

#loginButton:hover, #exitOverlay:hover,
#logoutButton:hover, #cancelButton:hover {
  cursor: pointer;
  color: #ff4da6;
  border: 2px solid #ff4da6;
  border-radius: 25px;
}

#loginButton:active {
  opacity: .75;
}

/*blah*/
#exitOverlay:active {
  color: #ff4da6;
  opacity: .75;
}

#userNameText, #pwText {
  font-size: 1.5em;
}

/*slides*/
#slideButtonContainer {
  width: 100%;
  max-width: 40em;
  margin: -3em auto .5em auto;
  padding: 2em 0;
  position: relative;
}

#forward {
  font-size: 3em;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: .5em;
}

#back {
  font-size: 3em;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: .5em;
}

#forward:hover, #back:hover {
  color: #ff4da6;
  cursor: pointer;
}

label {
  font-size: 1.5em;
  display: block;
}

code {
  word-wrap: break-word;
}

/*desktops*/
@media only screen and (min-width:1100px) {
  .content {
    border: 2px solid white;
    max-width: 1000px;
    margin: 1em auto;
  }

  nav {
    border: 2px solid white;
    max-width: 1000px;
    position: sticky;
    top: 0;
    margin: 1em auto;
  }